/* GENERAL CSS STYLE-SHEET */
body {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

code {
    background-color: #f4f4f4;
    border-radius: 2%;
    color: #666;
    display: block;
    padding: 2% 5%;
    width: 90%;
}

h1 {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

main {
    color: #444;
    font-size: 1rem;
    background-color: white;
}

.nav-link {
    color: #444;
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
}

#navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

/* DESKTOP CSS STYLE-SHEET */
@media only screen and (min-width: 768px){
    main {
        margin-left: 20vw;
        margin-left: 300px;
        padding: 1vh 2vw;
        width: calc(94vw - 300px);
    }

    .nav-link {
        border-bottom: 1px solid black;
        padding: 5%;
    }

    .nav-link:hover {
        color: white;
        background-color: #444;
    }
    
    #navbar {
        border-right: 2px solid gray;
        height: 100vh;
        width: 20vw;
        width: 300px;
    }

    #navbar-header {
        border-bottom: 1px solid black;
    }
    
    #navbar-items-container {
        max-height: 90vh;
    }
}

/* MOBILE CSS STYLE-SHEET */
@media only screen and (max-width: 767px){

    h1 {
        font-size: 1.8rem;
        margin: 0px;
    }
    
    main {
        margin: 20vh auto 0;
        width: 90vw;
    }

    .dark-link {
        background-color: #777;
        color: #ccc;
    }

    .light-link {
        background-color: #ccc;
        color: #777;
    }

    .nav-link {
        text-align: center;
    }

    #navbar {
        background-color: #EEE;
        height: 20vh;
        width: 100vw;
    }

    #navbar-items-container {
        border-radius: 4%;
        margin: auto;
        max-height: 12vh;
        overflow-y: auto;
        padding: 2%;
        width: 80vw;
    }
}
